body {
    background-color: rgb(16, 16, 16);
    color: whitesmoke;
}

b {
    color: #ce0000;
}

#opening, #quiz0, #quiz1, #quiz2 {
    margin: auto;
    margin-top: 100px;
    width: 80%;
    text-align: center;
}

.h {
margin-bottom: 10px;
}



footer {
    text-align: center;
    color: rgb(102, 102, 102);
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 100%;
}

#posterEl{
    width: 100%; 
    object-fit: cover;
}

#logo {
    width: auto;
    height: 11px;
    position: relative;
    right: 9px;
    bottom: 2px;
}